body{
	margin: 0px;
	font-family: 'Varela', sans-serif;
}

#container{
	width: calc(100vw);
	height: calc(100vh);
}

#player{
	position: absolute;
	top: 0px;
	left: 0px;
}

#location{
	position: absolute;
	bottom: 10px;
}

#modal{
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.4);
}

#modal-content{
	background-color: white;
	border-style: solid;
	text-align: center;
	border-width: 1px;
	border-color: black;
	height: 35%;
	width: auto;
}

#span{
	float: right;
	font-size: 28px;
}

#span:hover{
	color: gray;
	cursor: pointer;
}